* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* this is nabar section  */

.navbar {

  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
    top: 0;
    z-index: 100;

}
/* LOGO */
.logo {
  background-color: rgb(248, 248, 248);
  color: rgb(123, 70, 70);
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: start;
}
/* NAVMENU  */
.navmenu {
  display: flex;
  gap: 20px;
  background-color: rgb(114, 114, 142);
  color: rgb(123, 70, 70);
  font-size: 18px;
  cursor: pointer;
  justify-content: center;
}
.main-container{
    height: 100vh;
    width: 100vw;
 background-color:#eef6ff;
   
}

/* slogan */
.slogan{
    
  width: 100%;
  height: 400px;
  background-color:rgb(198, 226, 247)
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: black;
  text-align: justify;
   
}
.slogan h1{
    margin-top: 5%;
    font-size: 50px;
    margin-left:5%;
}
.slogan p{
    margin-top: 2%;
    font-size: 25px;
    margin-left:5%;
}
/* form card */


    /* FORM CARD */
    .form{
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 400px);
        width: 100%;
        margin-top: 0%;
    }
    
    
    .form-card {
        margin-top: 5%;
        margin-bottom: 10%;
      background: white;
      width: 60vw;
      height: 66vh;
      margin-right: 20px;
      border-radius: 12px;
      display: flex;
      padding: 30px ;
      gap: 25px;
      box-shadow: 0 10px 20px rgba(22, 13, 13, 0.05);
    }

    .form-left {
      flex: 1;
    }

    .form-left label {
      font-size: 20px;
      font-weight: 600;
    }

    .form-left input,
    .form-left select {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 15px;
      border-radius: 6px;
      border: 1px solid #ccc;
      outline: none;
    }

    .form-left button {
      width: 100%;
      background: #4db96d;
      color: white;
      border: none;
      padding: 14px;
      border-radius: 8px;
      font-size: 15px;
      cursor: pointer;
    }

    .form-left small {
      display: block;
      margin-top: 100px;
      color: #666;
      font-size: 12px;

    }

    .form-right {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .circle {
      width: 400px;
      height: 400px;
      background: #e7f3ff;
      border-radius: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 70px;
    }
    .circle img{
        width: 400px;
        height: 400px;
    }
    /* footer section  */
     footer {
      background: #0f2b43;
      color: #cbd5e1;
      padding: 40px 60px;
      position: sticky;
    }

    .footer-flex {
      display: flex;
      justify-content: space-between;
    }

    footer h4 {
      color: white;
      margin-bottom: 10px;
    }

    footer p {
      font-size: 13px;
      margin-bottom: 6px;
    }

    .subscribe input {
      padding: 8px;
      width: 200px;
      border-radius: 6px;
      border: none;
      outline: none;
    }

    .subscribe button {
      padding: 8px 15px;
      border-radius: 6px;
      border: none;
      margin-left: 5px;
      cursor: pointer;
    }
